html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
}

.scene-name {
  position: fixed;
  top: 82px;
  left: 0px;
  font-size: 24px;
  line-height: 24px;
  padding: 0 10px 10px 56px;
  border-bottom: 3px solid #ffffff;
}

.role-status {
  position: fixed;
  bottom: 70px;
  padding: 0 10px 10px 56px;
  border-bottom: 3px solid #ffffff;

  display: flex;
  align-items: flex-end;
  font-size: 16px;
  line-height: 16px;
  &__avatar {
    width: 137px;
    height: 132px;
    background-image: url("../assets/images/character.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    position: relative;
    &::after {
      content: attr(data-name);
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 50px;
      background: linear-gradient(180deg, rgba(23, 44, 64, 0) 0%, #0a1f33 100%);
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

  &__stamina {
    margin-left: 28px;
  }
}

.baggage {
  position: fixed;
  right: 0px;
  bottom: 70px;
  padding: 0 73px 10px 10px;
  border-bottom: 3px solid #ffffff;
  &::before {
    content: attr(data-title);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(5, 74px);
  grid-template-rows: 74px;
  &__item {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    border-radius: 12px;
    &[data-status="available"] {
      background-image: url("../assets/images/client/gem.png");
      animation: jitter 2s ease-out infinite;
      @keyframes jitter {
        0% {
          transform: translate(0, 0);
        }
        25% {
          transform: translate(0, -8px);
        }
        50% {
          transform: translate(0, 0);
        }
        75% {
          transform: translate(0, -8px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
    }
    &[data-status="exist"] {
      background-image: url("../assets/images/client/gem.png");
    }
    &[data-status="empty"] {
      opacity: 0.4;
    }
    position: relative;
    &::after {
      content: attr(data-name);
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: -32px;
      left: 0px;
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
    }
  }
}

.notification {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #172c40;
  background: linear-gradient(
    270deg,
    rgba(187, 187, 187, 0) 0%,
    #bbbbbb 48.44%,
    rgba(187, 187, 187, 0) 100%
  );
  animation: fade-in-out 3s ease-out;
  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
